/* ABSOLUTE PATH FIXED: */
@import url("../../.config/matugen/generated/waybar-colors.css");

* {
  border: none;
  border-radius: 0px;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font', Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px; 
}

window#waybar {
    background-color: transparent;
}

window#waybar > box {
  border-radius: 8px;
  border: 1px solid alpha(@outline, 0.5); 
  margin: 4px;
  background-color: alpha(@background, 0.95);
  box-shadow: 0px 4px 4px 0px @shadow;
  transition-property: background-color;
  transition-duration: .5s;
}

/* Groups */
#left1, #left2, #left3, #right1, #right2 {
  background-color: alpha(@surface_container, 0.5);
  border-radius: 6px;
  margin: 3px 2px;
  padding: 0px 10px 0px 8px;
  border: 1px solid alpha(@surface_container_highest, 0.3);
}

/* Workspaces */
#workspaces {
  border-radius: 6px;
  background-color: alpha(@surface_container, 0.5);
  margin: 3px 2px;
  padding: 0px 4px;
}

#workspaces button {
  padding: 0px 12px 0px 10px;
  margin: 4px 2px;
  border-radius: 4px;
  background-color: @surface_container_highest;
  color: @on_surface_variant;
  transition: all 0.2s ease-in-out;
}

#workspaces button.active {
  background-color: @primary;
  color: @on_primary;
  box-shadow: 0px 0px 2px 0px @shadow;
  min-width: 20px;
}

#workspaces button:hover {
  background-color: @primary_fixed;
  color: @on_primary_fixed;
}

#workspaces button.urgent {
  background-color: @error;
  color: @on_error;
}

/* Modules */
#custom-launcher,
#clock,
#idle_inhibitor,
#custom-updates,
#custom-theme-toggle,
#tray,
#cpu,
#memory,
#battery,
#backlight,
#network,
#mpris,
#bluetooth,
#pulseaudio,
#custom-power {
  margin: 0px 4px;
  padding: 0 2px;
  color: @on_surface;
}

#clock { color: @primary; }

#custom-launcher {
    color: @secondary;
    font-size: 16px;
    margin-right: 8px;
}

#custom-power {
    color: @error;
    margin-left: 8px;
}

#battery.charging, #battery.plugged { color: @tertiary; }

#battery.warning {
    color: @error;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: @on_error;
    background-color: @error;
    border-radius: 4px;
    padding: 0 4px;
}

@keyframes blink {
    to { color: alpha(@error, 0.5); }
}

#tray > .passive { -gtk-icon-effect: dim; }
#tray > .needs-attention { -gtk-icon-effect: highlight; background-color: @error; }

tooltip {
 background: @surface_container_high;
 border: 1px solid @outline;
 border-radius: 8px;
}
tooltip label { color: @on_surface; }
