/**
 * @name midnight
 * @description A dark, rounded discord theme.
 * @author refact0r
 * @version 1.6.2
 * @invite nz87hXyvcy
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/midnight.theme.css
 * @authorId 508863359777505290
 * @authorLink https://www.refact0r.dev
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!!! */

@import url('https://refact0r.github.io/midnight-discord/build/midnight.css');

/* customize things here */

body {
	--font: '';
	--border-thickness: 2px;
	--top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off;
	--window-control-size: 0px;
	--custom-dms-icon: off;
	--custom-chatbar: separated;
	--chatbar-height: 56px;
	--small-user-panel: on;
}

:root {
	--accent-1: {{colors.tertiary.default.hex}};            /* links */
	--accent-2: {{colors.primary.default.hex}};             /* general unread/mention elements, some icons when active */
	--accent-3: {{colors.primary.default.hex}};             /* accent buttons */
	--accent-4: {{colors.surface_bright.default.hex}};      /* accent buttons when hovered */
	--accent-5: {{colors.primary_fixed_dim.default.hex}};   /* accent buttons when clicked */
	--mention:  {{colors.surface.default.hex}};             /* mentions & mention messages */
	--mention-hover: {{colors.surface_bright.default.hex}}; /* mentions & mention messages when hovered */

	/* text colors */
	--text-0: {{colors.surface.default.hex}};               /* text on colored elements */
	--text-1: {{colors.on_surface.default.hex}};            /* other normally white text */
	--text-2: {{colors.on_surface.default.hex}};            /* headings and important text */
	--text-3: {{colors.on_surface_variant.default.hex}};    /* normal text */
	--text-4: {{colors.on_surface_variant.default.hex}};    /* icon buttons and channels */
	--text-5: {{colors.outline.default.hex}};               /* muted channels/chats and timestamps */

	/* background and dark colors */
    --bg-1: {{colors.primary.default.hex}};                             /* dark buttons when clicked */
	--bg-2: {{colors.surface_container_high.default.hex}};              /* dark buttons */
	--bg-3: {{colors.surface.default.hex}};                             /* spacing, secondary elements */
	--bg-4: {{colors.surface.default.hex}};                             /* main background color */
	--hover: {{colors.surface_bright.default.hex}};                     /* channels and buttons when hovered */
	--active: {{colors.surface_bright.default.hex}};                    /* channels and buttons when clicked or selected */
	--message-hover: {{colors.surface_bright.default.hex}};             /* messages when hovered */
	--border-light: var(--hover); /* general light border color */
    --border: var(--active); /* general normal border color */
    --border-hover: {{colors.primary.default.hex}}; /* border color of panels when hovered */
    --button-border: hsl(220, 0%, 100%, 0.1); /* neutral border color of buttons */
}

